@import '../../index.scss';
.pagination {
  text-align: center;
  // margin: 50px 0 100px;
  padding: 16px 0 20px;
  background-color: $primary-dark;
  width: 100%;

  position: fixed;
  z-index: 9;
  bottom: 0;

  @include breakpoint(lg) {
    text-align: right;
  }

  button {
    border: 1px solid white;
    border-radius: 0;
    width: 34px;
    height: 34px;
    background-color: $secondary-dark;
    @include breakpoint(md) {
      width: 40px;
      height: 40px;
    }
    &.active {
      background-color: $accent-yellow;
      background-image: $grad-to-top;
      font-weight: bold;
    }
    &.disabled {
      border: 1px solid $gray-dark;
      &:focus {
        border: 1px solid $gray-dark;
        outline: none;
      }
    }
    &.action {
      width: fit-content;
      padding: 0 16px;
    }
  }
}
