* {
  color: $white;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-dark;
}

// class helper
.mark {
  color: $accent-yellow;
}
hr {
  opacity: 1;
  border-radius: 9px;
  margin: 0 0 6px;

  &.sp-thin {
    height: 1px;
    background-image: $grad-to-right;
  }
  &.sp-bold {
    height: 3px;
    background-image: $grad-to-right;
  }
}

h1 {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 5px;
  @include breakpoint(lg) {
    font-size: 58px;
  }
}
h2 {
  font-size: 14px;
  font-weight: lighter;
  // letter-spacing: 5px;
  @include breakpoint(lg) {
    font-size: 18px;
  }
}
h3 {
  font-size: 16px;
  font-weight: bold;
  // letter-spacing: 1px;
  // @include breakpoint(lg) {
  //   font-size: 26px;
  // }
}
p {
  font-size: 12px !important;
  // letter-spacing: 1px;
  color: $gray-text;
  // @include breakpoint(lg) {
  //   font-size: 16px;
  // }
}

.author {
  font-size: 13px;
}

a {
  text-decoration: none;
}

.prev,
.next {
  color: black;
  margin-bottom: 100px;
}
