@import '../../index.scss';

.news__list {
  margin-bottom: 100px;
  @include breakpoint(md) {
    margin-bottom: 130px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 52px;

    @include breakpoint(sm) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
